.search {
  display: flex;

  &.btn-group {
    max-width: 600px;
    margin: 0 auto;
  }

  ::ng-deep .dropdown-menu {
    width: 100%;
  }

  input {
    height: 3rem;
    background-color: var(--color-gray-lighting);
  }
  button {
    background-color: var(--color-yellow);
    height: 3rem;
    svg {
      fill: white;
    }
  }
}
