<div class="container">
  <div class="row" *ngIf="feriados.length > 0;else no_result">
    <div class="col">
      <h2>Resultado da busca</h2>
      <accordion [closeOthers]="oneAtATime">
        <accordion-group *ngFor="let feriado of feriados" [isOpen]="false" #accGroup
          heading="# {{ feriado.date | date: 'dd/MM/yyyy' }}">
          <span accordion-heading class="float-right text-icon">
            {{ !accGroup?.isOpen ? 'Ver detalhe da ação' : 'Ocultar detalhe da ação' }} <i class="fa"
              [ngClass]="{'fa-angle-up': accGroup?.isOpen, 'fa-angle-down': !accGroup?.isOpen}"></i>
          </span>

          <div class="row">
            <div class="col-md-10 col-sm-9">
              <p><b>Nome</b>: {{ feriado.name }}</p>
              <p><b>Data</b>: {{ feriado.date | date: "dd/MM/yyyy"}}</p>
              <p><b>Tipo</b>: {{ feriado.type == 'national' && 'Feriado Nacional' }}</p>
            </div>
            <div class="col-md-2 col-sm-3 text-right">
              <button type="button" class="btn btn-custom" (click)="abrirModal(template)">VER MAIS</button>
            </div>
          </div>

        </accordion-group>
      </accordion>
    </div>
  </div>

  <ng-template #no_result>
    <div class="row no-result">
      <div class="col-md-12">
        <img src="/assets/imgs/no-result-found.svg" alt="">
      </div>
      <div class="col-md-12">
        <p *ngIf="!dataInvalida">Você ainda não realizou nenhuma busca!</p>
        <p *ngIf="dataInvalida">{{ dataInvalida }}</p>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #template>
  <div class="modal-body text-center py-4">
    <p>Tem certeza que deseja ir para tela?</p>
    <button type="button" class="btn btn-default btn-color" (click)="confirmar()">Sim</button>
    <button type="button" class="btn btn-default btn-color" (click)="recusar()">Não</button>
  </div>
</ng-template>